
body {
  margin: 0;
  padding: 0;
  font-family: ProximaNova;
}


@import 'common/_fonts';
@import 'common/_varibles';
@import './public/sprites/svg/symbol/sprite';
@import 'common/_login';
@import 'common/_registration';
@import 'common/_forget';
@import 'layout/_login_layout';
@import 'common/_photo-template';

@import 'layout/_main_layout';
@import 'common/_header';
@import 'common/_footer';

@import 'common/_header_edit';
@import 'common/_edit_popup';
@import 'common/_add_album';
@import 'common/_notification';
@import 'common/_server_notification';
@import 'common/_slider';
@import "common/_albums";