doctype html
html(lang='en')
	include common/_head
	
	body
		.wrapper
			header.header__start
				block title
			section.section__start
				block content
			footer.footer__start
				| 2016 Создано командой профессионалов на продвинутом курсе по веб-разработке от LoftSchool
