.photo__template
  .albums_header
    .title Новое в мире
  .photos#template
    template#mytemplate(sytle='display:none')
      section.photo__block
        .photo__header
          a.photo__link.photo__link-big(href="#")
            img.photo__image(src="" alt="new image")

        .photo__main
          .photo__avatar-wrapper
            img.photo__avatar(src="" alt="user avatar")
          .photo__content
            span.photo__content-text
            .photo__comment-wrapper 
              span.photo__content-inner.photo__content-comments 
              span.photo__content-inner.photo__content-like 

        .photo__footer
          span.photo__name-album 