.modal__slider
	.modal__wrapper
		.slider__wrapper
			.slide__wrapper
				.slide__frame
					img.slide(src="img/photo1.jpg", alt="")
				a.slide__prev(href="#")
					svg.svg__slider-control.svg__icon_prev
						use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href= "/sprites/svg/symbol/bg-sprite.svg#icon-arrow_left")
				a.slide__next(href="#")
					svg.svg__slider-control.svg__icon_next
						use(xmlns:xlink="http://www.w3.org/1999/xlink", xlink:href= "/sprites/svg/symbol/bg-sprite.svg#icon-arrow_right")
				a.slider__close(href="#")
			.slider__description