.wrapper{
	background: url('/img/bg.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center bottom;
	height: 100vh;
	display: flex;
	flex-flow: column;
}
.section__start, .header__start{
	flex: 1 0 auto;
	margin: auto;
}

.header__start{
	display: flex;
	flex-flow: column-reverse;
}


.footer__start{
	flex: 0 0 auto;
	color: #fff;
	text-align: center;
	padding: 15px;
	// font-family: ProximaNova;
	font-size: 16px;
	font-weight: 300;
	line-height: 25px;
	opacity: .8;
}