/* Animation transition */
$hover: all 0.5s;

/* Buttons */

/* button blue */
$btn-blue_border: 1px solid #28bbf0;
$btn-blue_background-color: #28bbf0;
$btn-blue_color: white;

$btn-blue_background-color-hover: #24b0e3;
$btn-blue_border-hover: 1px solid #28bbf0;

/* button primary */
$btn-primary_border: 1px solid #20b6ed;
$btn-primary_color: #28bbf0;

$btn-primary_color-hover: white;
$btn-primary_background-color-hover: #20b6ed;
$btn-primary_border-hover: 1px solid #20b6ed;

/* button warning */
$btn-warning_background-color: #ee4634;
$btn-warning_color: white;
$btn-warning_background-color-hover: #d94130;

/* Forms */

$border-color: #e1e1e1;

// /* Button
// $btn_bg: #28bbf0
// $btn_bg_hover: #24b0e3
// $btn_color: #fff
// $btn_border: #e1e1e1

// $btn_bg_error: #ee4634
// $btn_color_error: #fff
// $btn_color_modal: #45c4f2

// /* button blue
// $btn-blue_bg: #28bbf0
// $btn-blue_bg_hover: #24b0e3
// $btn-blue_color: #fff
// $btn-blue_border: #e1e1e1

// /* button inherit
// $btn-inherit_border: 1px solid #28bbf0
// $btn-inherit_color: #28bbf0
// $btn-inherit_color_hover: #fff
// $btn-inherit_bg: #fff
// $btn-inherit_bg_hover: #28bbf0

// /* button error
// $btn-error_bg: #ee4634
// $btn-error_color: #fff
// $btn-error_color-modal: #45c4f2

// /* btn upload
// $upload_border: 1px solid #28bbf0
// $upload_color: #28bbf0
// $upload_color_hover: #fff
// $upload_bg: #fff
// $upload_bg_hover: #28bbf0

/* Icons */
$icon_color: #cccccc;
$icon_color_active: #28bbf0;

/* login form */
$form-text_color: #323232;

/* Registration */
$link_color: #28bbf0;