icon-add-dims {
	width: 20px;
	height: 20px;
}

icon-album-dims {
	width: 20px;
	height: 18.182px;
}

icon-arrow_down-dims {
	width: 25.18px;
	height: 16.164px;
}

icon-arrow_left-dims {
	width: 15.969px;
	height: 26.015px;
}

icon-arrow_right-dims {
	width: 15.844px;
	height: 25.859px;
}

icon-cam-dims {
	width: 40px;
	height: 32px;
}

icon-close-dims {
	width: 26.392px;
	height: 26.015px;
}

icon-comments-dims {
	width: 20px;
	height: 17.209px;
}

icon-delete-dims {
	width: 12px;
	height: 15.139px;
}

icon-edit-dims {
	width: 20px;
	height: 20px;
}

icon-envelope-dims {
	width: 15px;
	height: 13px;
}

icon-heart-dims {
	width: 20px;
	height: 16.858px;
}

icon-home-dims {
	width: 20px;
	height: 21.696px;
}

icon-like-dims {
	width: 20px;
	height: 16.858px;
}

icon-loupe-dims {
	width: 39.985px;
	height: 40.001px;
}

icon-more-dims {
	width: 17px;
	height: 4.25px;
}

icon-name-dims {
	width: 15px;
	height: 16.102px;
}

icon-no_like-dims {
	width: 23px;
	height: 19.858px;
}

icon-off-dims {
	width: 14.895px;
	height: 15px;
}

icon-password-dims {
	width: 15px;
	height: 17px;
}

icon-search-dims {
	width: 14.994px;
	height: 14.988px;
}

icon-soc_email-dims {
	width: 20px;
	height: 20px;
}

icon-soc_fb-dims {
	width: 20px;
	height: 20px;
}

icon-soc_twitter-dims {
	width: 20px;
	height: 20px;
}

icon-soc_vk-dims {
	width: 20px;
	height: 20px;
}

icon-social_google-dims {
	width: 20px;
	height: 20px;
}

icon-top-dims {
	width: 26.703px;
	height: 20.953px;
}

